version: '3'
services:

  # Starts the P/S emulator
  pubsub:
    image: gcr.io/google.com/cloudsdktool/cloud-sdk:316.0.0-emulators
    ports:
      - "8085:8085"
    entrypoint: gcloud beta emulators pubsub start --project test-project --host-port 0.0.0.0:8085
    healthcheck:
      test: ["CMD", "curl", "-f", "http://pubsub:8085"]
      interval: 5s
      timeout: 10s
      retries: 3

  # Creates a topic
  mk-topic:
    image: alpine/httpie
    depends_on:
      pubsub:
        condition: service_healthy
    command: PUT http://pubsub:8085/v1/projects/test-project/topics/scan-topic

  # Creates a subscription
  mk-subscription:
    image: alpine/httpie
    depends_on:
      mk-topic:
        condition: service_completed_successfully
    command: PUT http://pubsub:8085/v1/projects/test-project/subscriptions/scan-sub topic=projects/test-project/topics/scan-topic --ignore-stdin 

  # postgres db
  db:
    image: postgres:18.0
    environment:
      - POSTGRES_USER=${INGESTER_POSTGRES_USER}
      - POSTGRES_PASSWORD=${INGESTER_POSTGRES_PASSWORD}
      - PGDATA=/data/postgres
      - POSTGRES_DB=${INGESTER_POSTGRES_DB}
    volumes:
      - db:/data/postgres
    ports:
      - "5433:5432"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${INGESTER_POSTGRES_USER} -d postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5

  # migration container so postgres is ready immediately after setup. This also
  # lets us keep migration code out of the service itself (personal preference)
  migration:
    image: migrate/migrate
    volumes:
          - ./db/migrations/:/migrations
    depends_on:
      db:
        condition: service_healthy
    command: ["-path", "/migrations", "-database", "postgres://${INGESTER_POSTGRES_USER}:${INGESTER_POSTGRES_PASSWORD}@db:5432/${INGESTER_POSTGRES_DB}?sslmode=${INGESTER_POSTGRES_SSL_MODE}", "up"]

  redis:
    image: redis:latest
    restart: always
    ports:
    - 6379:6379
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

  # Runs the "scanner"
  scanner:
    depends_on:
      mk-topic:
        condition: service_completed_successfully
    environment:
      PUBSUB_EMULATOR_HOST: pubsub:8085
      PUBSUB_PROJECT_ID: test-project
    build:
      context: .
      dockerfile: ./cmd/scanner/Dockerfile

  ingester:
    depends_on:
      db:
        condition: service_healthy
      migration:
        condition: service_completed_successfully
      mk-topic:
        condition: service_completed_successfully
      redis:
        condition: service_healthy
    env_file:
      - .env.demo
    environment:
      PUBSUB_EMULATOR_HOST: pubsub:8085
      PUBSUB_PROJECT_ID: test-project
    build:
      context: .
      dockerfile: ./cmd/ingester/Dockerfile
    profiles: [demo]
        
volumes:
  db:
